<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="提供问答搜索比较，聚合问答类知识分享。" name="description"/>
    <title>知道问-<%= yield(:title) || "zhidaowen.com" %></title>
    <link href="/css/layout.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 7]>
    <link href="/css/patches/patch_2col_right_13.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <%= javascript_include_tag 'jquery','jquery.validate','jquery.metadata','application' %>
    <%# javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'scaffold' %>
    <% if params[:from]=='1' %><%=stylesheet_link_tag "baidu"%><% end %>
    <% if params[:from]=='3' %><%=stylesheet_link_tag "soso"%><% end %>
  </head>
  <body>
    <!-- skip link navigation -->
    <ul id="skiplinks">
      <li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
      <li><a class="skip" href="#col1">Skip to main content (Press Enter).</a></li>
    </ul>

    <div class="page_margins">
      <div class="page">
        <div id="header" role="banner">
          <div id="topnav" role="contentinfo">
            <% if current_user %>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;你好，<%=current_user.login%>
                <%=link_to "进入个人主页", user_path(current_user)%>
                &nbsp;&nbsp;<a href="/logout">退出</a></span>
            <% else -%>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="javascript:show_dlg();login(1);return false;" href="/login" >登录</a>&nbsp;&nbsp;<a href="/signup" onclick="javascript:show_dlg();login(0);return false;">新用户注册</a></span>
            <% end -%>
          </div>
          <h1>知道问 <em>&laquo;zhidaowen.com&raquo;</em></h1>
          <span>在线问答平台集合,知识分享,共同成长</span>    </div>
        <!-- begin: main navigation #nav -->
        <div id="nav" role="navigation">
          <div class="hlist">
            <ul>
              <li class="<%=active(1)%>"><a href="/?from=1&category=1" >百度知道</a></li>
              <li class="<%=active(3)%>"><a href="/?from=3&category=1" >SOSO问问</a></li>
              <li class="<%=active(5)%>"><a href="/?from=5&category=1">新浪爱问</a></li>
              <li class="<%=active(2)%>"><a href="/?from=2&category=1" >天涯问答</a></li>
              <li class="<%=active(4)%>"><a href="/?from=4&category=1" >搜狗问答</a></li>
              <li class="<%=active(6)%>"><a href="/?from=6&category=1" >雅虎知识堂</a></li>
              <% if current_user %><li><%=link_to "我的关注",current_user %></li><% else%> <li><a href="/login">我的关注</a></li><% end %>
            </ul>
          </div>
        </div>
        <!-- end: main navigation -->
        <!-- begin: main content area #main -->
        <div id="main">
          <!-- begin: #col1 - first float column -->
          <div id="col1" role="main">
            <div id="col1_content" class="clearfix">
              <%= yield %>
            </div>
          </div>
          <!-- end: #col1 -->
          <!-- begin: #col3 static column -->
          <div id="col3" role="complementary">
            <div id="col3_content" class="clearfix">
              <%= render :file=>'tips/b' %>
            </div>
            <div id="ie_clearing">&nbsp;</div>
            <!-- End: IE Column Clearing -->
          </div>
          <!-- end: #col3 -->
        </div>
        <!-- end: #main -->
        <!-- begin: #footer -->
    <div id="footer" role="contentinfo">
     <%=render :partial=>'layouts/footer'%>
    </div>
    <!-- end: #footer -->
      </div>
    </div>
    <!-- full skiplink functionality in webkit browsers -->
    <script src="/yaml/core/js/yaml-focusfix.js" type="text/javascript"></script>
    <!--ajax login start-->
    <%= render :partial=>'layouts/ajax_login' %>
  </body>
</html>